<div style="padding: 20px;">
    <h1 style="color: blue">Employee Information</h1>
    <h3>Manage the Employee details</h3>
    <nav>
      <a routerLink="employee" class="btn btn-primary active" role="button" routerLinkActive="active">Employees</a>
      <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
      <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
    </nav>
    <router-outlet></router-outlet>
  </div>